*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root {
  --focus-color: rgb(93, 107, 255);
  --focus-shadow: 2px 2px 5px rgba(255, 255, 255, .7);
  --input-border: #ccc;
  --btn-bg: rgb(93, 107, 255);
  --fontserif: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  --shrink: 0.95;
}

.cardlayout {
  width: 100%;
  height: 100%;
}

.itemlayout {
  width: 700px;
  padding: 20px;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, .7);
  border-radius: 8px;
  margin: 50px auto;
  color: #000000;
  background-color: aliceblue;
}

.modaldiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-modal {
  width: 180px;
  height: 55px;
  border-radius: 8px;
  background-color: var(--btn-bg);
  color: white;
  font-size: 18px;
  font-family: var(--fontserif);
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid var(--btn-bg);
  border-radius: 8px;
  margin-bottom: 30px;
  font-size: 22px;
  margin-top: 20px;
}

input:focus {
  outline: none;
  border: 2px solid red;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal_card {
  background-color: #fff;
  color: #000;
  border-radius: 8px;
  width: 600px;
  margin: 20px auto;
  padding: 30px;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(255, 255, 255, .7);
}

.card-elements {
  background: var(--input-border);
  box-shadow: var(--focus-shadow);
  padding: 21px;
  border-radius: 10px;
  font-family: serif;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-elements:hover {
  transform: scale(.98);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
  -webkit-transform: scale(.98);
  -moz-transform: scale(.98);
  -ms-transform: scale(.98);
  -o-transform: scale(.98);
}

.navbar {
  background-color: aliceblue;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbar .item {
  width: 120px;
  height: 45px;
  text-align: center;
  background-color: var(--btn-bg);
  color: white;
  border-radius: 8px;
  transition: .3s all ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.navbar .item:hover {
  background-color: rgb(61, 76, 247);
}

.pructs-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.pructs-cards .card img{
  width: 250px;
  border-radius: 4px;
  border: none;
  margin-bottom: 20px;
}

.parentcard{
  width: 100%;
  background-color: aliceblue;
  padding: 20px;
  margin-bottom: 20px;
}
.desbox{
  margin-bottom: 20px;
}
.desbox p{
  color: #000000;
  font-size: 17px;
  font-weight: bold;
}